* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
}

#mainMenu {
  background-color: red;
}

#exit {
  background-color: green;
}

#credits {
  background-color: blue;
}
#instructions {
  background-color: orange;
}

#mainGame {
  background-color: black;
  color: white;
  #character {
    background-color: purple;
  }
}
.visibilityON {
  display: block;
}

.visibilityOFF {
  display: none;
}

.character {
  width: 3em;
  height: 3em;
  background-color: aquamarine;
}

.toSection {
  padding: 1em;
  width: 5em;
  background-color: black;
  color: white;
  border: 2px dotted gold;
  text-align: center;
}

.size {
  width: 100%;
  height: 99vh;
}
