* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.size {
  width: 100%;
  height: 100vh;
}
.size .containerItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid blue;
  height: 100vh;
}
.size .containerItems .mainItemContainer {
  border: 2px dotted blue;
  margin-top: 2em;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.size .containerItems .toSection,
.size .containerItems .button {
  padding: 1em;
  width: 10em;
  margin: 0.5em;
  background-color: black;
  color: white;
  border: 2px dotted gold;
  text-align: center;
}

#mainMenu {
  background-color: red;
}

#exit {
  background-color: green;
}

#credits {
  background-color: blue;
}

#instructions {
  background-color: orange;
}

#mainGame {
  color: white;
}
#mainGame .containerItems {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: red;
}
#mainGame .containerItems .salud {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 3em;
  background-color: cadetblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainGame .containerItems .salud .lifeDivisor {
  background-color: blue;
  z-index: 1;
  width: 3%;
  height: 100%;
}
#mainGame .containerItems .salud .charactersLife {
  width: 50%;
  height: 100%;
  border: 5px solid grey;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#mainGame .containerItems .salud .charactersLife #playerLife,
#mainGame .containerItems .salud .charactersLife #monsterLife {
  width: 100%;
  height: 100%;
}
#mainGame .containerItems .salud .charactersLife #playerLife {
  width: 100%;
  background-color: green;
}
#mainGame .containerItems .salud .charactersLife #monsterLife {
  width: 100%;
  background-color: green;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
#mainGame .containerItems .infoContainer {
  width: 33.33%;
  height: 100%;
  border: 1px solid blue;
}
#mainGame .containerItems .cardSize {
  width: 100%;
  height: 33.33%;
}
#mainGame .containerItems .cardSize .avatarImages {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainGame .containerItems .cardSize .avatarImages .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 60%;
  background-color: burlywood;
}
#mainGame .containerItems .cardSize .weapons {
  width: 30%;
  height: 100%;
  background-color: yellowgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
}
#mainGame .containerItems .cardSize .weapons > div {
  border: 2px dotted red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: auto;
}
#mainGame .containerItems .playerInfo,
#mainGame .containerItems .monsterInfo {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#mainGame .containerItems .playerInfo .perks,
#mainGame .containerItems .monsterInfo .perks {
  width: 50%;
  height: 100%;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#mainGame .containerItems .playerInfo .perks #mainGamePlayerPerk,
#mainGame .containerItems .playerInfo .perks #mainGameMonsterPerk,
#mainGame .containerItems .monsterInfo .perks #mainGamePlayerPerk,
#mainGame .containerItems .monsterInfo .perks #mainGameMonsterPerk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainGame .containerItems .playerInfo .perks #mainGamePlayerPerk img,
#mainGame .containerItems .playerInfo .perks #mainGameMonsterPerk img,
#mainGame .containerItems .monsterInfo .perks #mainGamePlayerPerk img,
#mainGame .containerItems .monsterInfo .perks #mainGameMonsterPerk img {
  margin-top: 3em;
  width: 40%;
}
#mainGame .containerItems .playerInfo .info,
#mainGame .containerItems .monsterInfo .info {
  width: 50%;
  height: 100%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#mainGame .containerItems .playerInfo .info .name,
#mainGame .containerItems .monsterInfo .info .name {
  margin-top: 3em;
}
#mainGame .containerItems .playerInfo .info .name,
#mainGame .containerItems .playerInfo .info .damage,
#mainGame .containerItems .playerInfo .info .armour,
#mainGame .containerItems .monsterInfo .info .name,
#mainGame .containerItems .monsterInfo .info .damage,
#mainGame .containerItems .monsterInfo .info .armour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  width: 100%;
  border: 1px solid black;
}
#mainGame .containerItems .playerInfo .info .name h1,
#mainGame .containerItems .playerInfo .info .damage h1,
#mainGame .containerItems .playerInfo .info .armour h1,
#mainGame .containerItems .monsterInfo .info .name h1,
#mainGame .containerItems .monsterInfo .info .damage h1,
#mainGame .containerItems .monsterInfo .info .armour h1 {
  color: white;
}
#mainGame .containerItems .playerInfo .info .name p,
#mainGame .containerItems .playerInfo .info .damage p,
#mainGame .containerItems .playerInfo .info .armour p,
#mainGame .containerItems .monsterInfo .info .name p,
#mainGame .containerItems .monsterInfo .info .damage p,
#mainGame .containerItems .monsterInfo .info .armour p {
  border: 2px solid black;
}
#mainGame .containerItems .player {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#mainGame .containerItems .player .weapons {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#mainGame .containerItems .player .weapons .selectedWeapon {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
#mainGame .containerItems .playerActions {
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}
#mainGame .containerItems .playerActions #attack {
  background-color: aqua;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainGame .containerItems .playerActions #health {
  background-color: bisque;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#mainGame .containerItems .playerActions #health #remainingPotions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 40%;
  border: 1px solid green;
  font-size: 400%;
}
#mainGame .containerItems .monsterInfo {
  background-color: cadetblue;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#mainGame .containerItems .monster {
  background-color: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#mainGame .containerItems .monster .weapons {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#mainGame .containerItems .monster .weapons .selectedWeapon {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
#mainGame .containerItems .monsterActions {
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainGame .containerItems .monsterActions .nextMonstersInfo {
  width: 90%;
  height: 90%;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainGame .containerItems .monsterActions .nextMonstersInfo .nextMonster {
  width: 33%;
  height: 100%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainGame .containerItems .monsterActions .nextMonstersInfo .nextMonster .nextMonsterPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 50%;
  background-color: green;
}
#mainGame .containerItems .monsterActions .nextMonstersInfo .nextMonster .nextMonsterPic img {
  width: 100%;
  height: 100%;
}
#mainGame .containerItems .monsterActions .nextMonstersInfo .nextMonster .nextMonsterPerks {
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50%;
}
#mainGame .containerItems .monsterActions .nextMonstersInfo .nextMonster .nextMonsterPerks img {
  width: 50%;
  height: 50%;
}
#mainGame .containerItems .centerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainGame .containerItems .centerContainer .showActionsContainer {
  width: 100%;
  height: 80%;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#mainGame .containerItems .centerContainer .showActionsContainer #showActions {
  width: 90%;
  height: 80%;
  background-color: blue;
}

#character {
  background-color: rgb(248, 198, 248);
}
#character .containerItems .mainItemContainer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#character .containerItems .mainItemContainer .charactersSelection {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 2px solid blue;
}
#character .containerItems .mainItemContainer .charactersSelection .characterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: auto;
}
#character .containerItems .mainItemContainer .charactersSelection .characterContainer .character {
  width: auto;
  height: auto;
}
#character .containerItems .mainItemContainer .charactersSelection .characterContainer .character img {
  width: 100%;
  height: 100%;
}
#character .containerItems .mainItemContainer .skillsContainer {
  position: relative;
  z-index: 1;
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#character .containerItems .mainItemContainer .skillsContainer .skills {
  background-color: red;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid green;
  height: 100%;
  width: 13%;
}
#character .containerItems .mainItemContainer .skillsContainer .skills .skillsImage {
  z-index: 2;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#character .containerItems .mainItemContainer .skillsContainer .skills .skillsImage img {
  width: 100%;
  height: 100%;
}
#character .containerItems .mainItemContainer .skillsContainer .skills p {
  height: 30%;
  width: 95%;
  background-color: blue;
  text-align: center;
}

.visibilityON {
  display: block;
}

.visibilityOFF {
  display: none;
}