#mainMenu {
  background-color: red;
}

#exit {
  background-color: green;
}

#credits {
  background-color: blue;
}
#instructions {
  background-color: orange;
}
#character {
  background-color: purple;
}
#mainGame {
  background-color: black;
}
.visibilityON {
  display: block;
}

.visibilityOFF {
  display: none;
}

.character {
  width: 3em;
  height: 3em;
  background-color: aquamarine;
}

.toSection {
  padding: 1em;
  width: 5em;
  background-color: black;
  color: white;
  border: 2px dotted gold;
  text-align: center;
}
